
// Primary...
$Orange: hsl(25, 97%, 53%);

$white: hsl(0, 0%, 100%);
$Light-grey: hsl(217, 12%, 63%);
$Medium-grey: hsl(216, 12%, 54%);
$Dark-blue: hsl(213, 19%, 18%);
$Very-dark-blue: hsl(216, 12%, 8%);


// Body-Copy

// $Font-size(paragraph): 15px;


$Font-family: "Overpass" ;
$font-weight: 400, 700;